body {
    background-image: url(Bilder/876550.jpg);
}

.font1 {
    position: static;
    text-align: center;
    font-family: 'Ranchers', cursive;
    font-size: 60px;
     }

.start {
    position: relative;
    left: 190px;
    bottom: 300px;
    margin: 200px;
    padding: 30px;
    border: 0px;
    font-size: 50px;
    font-family: 'Ranchers', cursive;
    animation-name: startButton;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.calvin {
    position: relative;
    left: 200px;
    margin: 0px;
    border: 0px;
    width: 20%;
    
    
}

.hobbes {
    position: relative;
    left: 200px;
    border: 0px;
    margin: 0px;
}





@keyframes startButton {
    
    0% { bottom: 300px;
         right: 750px;
    }
    
    50% { bottom: 280px;
        
    }

    100% { bottom: 300px;
         right: 750px;
}
}

